@font-face {
  font-family: 'Gloria Hallelujah';
  font-style: normal;
  font-weight: 400;
  src: local('Gloria Hallelujah'), local('GloriaHallelujah'), url(../fonts/gloriahallelujah.woff2) format('woff2'), url(../fonts/gloriahallelujah.woff) format('woff');
}