.heading {
    font-family: "Courier New";
    font-size: 60px;
    text-align: center;
    text-shadow: 2px 2px 3px rgba(150, 150, 150, 1);
    color: #000000;
    margin-bottom: 10px;
    padding-top: 20px;
}

hr {
    width: 90%;
    border: 0;
    height: 1px;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

a {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: blue;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 20px;
}

li {
    padding-left: 40px;
    margin-bottom: 20px;
    cursor: pointer; cursor: hand;
    font-family: "Courier New";
    font-size: 18px;
}

li:hover {
    background-color: #FFFFe0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #EEEEEE;
}

#centerDiv {
    width: 80%;
    margin: auto;
    height: 100%;
    background-color: #FFFFFF;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}
