#headingContainer {
    width: 100%;
    overflow: auto;
    padding-bottom: 20px;
    position: relative;
}

#heading {
    margin: 0 auto;
}

#heading h1 {
    text-align: center;
    font-size: 30px;
    padding: 0;
    margin: 0;
}

#heading a {
  color: #666666;
  text-decoration: none;
}

#heading a:visited {
  color: #666666;
  text-decoration: none;
}

#githubAvatar {
    float: left;
    background-image: url('https://avatars.githubusercontent.com/mcarolan');
    background-size: 130px 130px;
    width: 130;
    height: 130;
    border-radius: 15px;
    cursor: pointer;
}

#links {
  float: right;
}

hr {
    width: 100%;
    border: 0;
    height: 1px;
    border-bottom: 5px solid #ccc;
}

hr.dark {
  width: 100%;
  border: 0;
  height: 1px;
  border-bottom: 5px dashed #666666;
}

#links a {
    color: blue;
    text-decoration: none;
}

#links a:visited {
    color: blue;
}

article h1 {
  font-size: 30px;
  color: #666666;
}

article a {
  color: #0000FF;
}

article a:visited {
  color: #0000FF;
}

article h1 a {
  color: #666666;
}

article h1 a:visited {
  color: #666666;
}

.posts article:last-of-type + hr {
  visibility: collapse;
}

#links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#links li {
    margin-bottom: 10px;
    cursor: pointer; cursor: hand;
    font-size: 18px;
}

#links li:hover {
    background-color: #FFFFe0;
}

li {
  padding: 3px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Verdana;
    background-color: #EEEEEE;
    height: 100%;
}

#centerDiv {
    margin: 50 auto;
    padding: 50;
    width: 80%;
    background-color: #FFFFFF;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
